/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
*, ::after, ::before {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

body {
  font-family: system-ui,-apple-system,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji';
}

hr {
  height: 0;
  color: inherit;
}

abbr[title] {
  text-decoration: underline dotted;
}

b, strong {
  font-weight: bolder;
}

code, kbd, pre, samp {
  font-family: ui-monospace,SFMono-Regular,Consolas,'Liberation Mono',Menlo,monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, select {
  text-transform: none;
}

[type=button], [type=reset], [type=submit], button {
  -webkit-appearance: button;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button, ::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --contact-footer-text-color: rgba(255, 255, 255, 0.6);
  --dark-bg-color: #2f303a;
  --primary-bg-color: #ffffff;
  --section-bg-color: #f5f4fa;
  --color-icons: #afb1b8;
  --grid__item: 4;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: 'roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
  padding-left: 0px;
  margin: 0px;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.container--center {
  margin-left: auto;
  margin-right: auto;
}

.section__title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}

@media screen and (max-width: 1199px) {
  .section__title {
    font-size: 28px;
    margin-bottom: 30px;
  }
}

.button {
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  display: inline-flex;
  justify-content: center;
  cursor: pointer;
  font-family: 'roboto', sans-serif;
  border-radius: 4px;
  min-width: 200px;
  min-height: 50px;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover, .button:focus {
  background-color: #188ce8;
}

.button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background: var(--primary-bg-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.button-close::before {
  content: '';
  width: 11px;
  height: 11px;
  background-image: url(../images/svg/Vector.svg);
}

.social-icons .icon {
  width: 20px;
  height: 20px;
  fill: var(--color-icons);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .social-icons .icon {
  fill: var(--primary-bg-color);
}

.social-icons {
  display: flex;
  justify-content: center;
}

.social-icons__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icons__link:hover .icon,
.social-icons__link:focus .icon {
  fill: var(--primary-bg-color);
}

.social-icons__link:hover, .social-icons__link:focus {
  background-color: var(--accent-color);
}

.social-icons__item + .social-icons__item {
  margin-left: 10px;
}

.logo {
  font-family: 'raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #000000;
}

@media screen and (max-width: 1199px) {
  .logo {
    font-size: 24px;
    line-height: 1.16;
  }
}

.logo__accent {
  color: var(--accent-color);
}

.logo--darck {
  color: var(--primary-bg-color);
}

.form {
  margin-bottom: 74px;
}

.form__tytle {
  position: absolute;
  transform: translateY(-21px);
  box-sizing: inline;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
  cursor: pointer;
}

.form__massage {
  resize: none;
  padding: 12px 16px;
}

.form__field {
  width: 448px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 28px;
  padding-left: 42px;
  cursor: pointer;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__field:focus {
  border: 1px solid var(--accent-color);
  outline: none;
}

.form__field:focus + .form__icon {
  fill: var(--accent-color);
}

.form__field:not(:last-child) {
  height: 40px;
}

.form__label {
  position: relative;
}

.form__icon {
  position: absolute;
  left: 12px;
  top: 0;
  width: 18px;
  height: 18px;
  fill: var(--title-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__button {
  position: absolute;
  left: 50%;
  bottom: 40px;
  transform: translateX(-50%);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  padding: 40px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: var(--primary-bg-color);
}

.modal__tytle {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 30px;
}

.backdrop {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.grid__item {
  flex-basis: calc((100% - 30px * var(--grid__item)) / var(--grid__item));
  margin-left: 30px;
  margin-top: 30px;
}

.grid--nowrap {
  flex-wrap: nowrap;
}

.header {
  border-bottom: 1px solid #ececec;
  padding-top: 16.5px;
  padding-bottom: 16.5px;
}

@media screen and (max-width: 1199px) {
  .header {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.header__page {
  background-color: var(--primary-bg-color);
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation__link {
  color: var(--title-text-color);
  font-weight: 500;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__link:hover, .navigation__link:focus {
  color: var(--accent-color);
}

.navigation__link--current::after {
  position: absolute;
  left: 0px;
  top: 45px;
  content: '';
  display: inline-flex;
  width: 100%;
  background-color: var(--accent-color);
  border-radius: 2px;
  height: 4px;
}

.navigation__list {
  display: flex;
  margin-left: 93px;
}

@media screen and (max-width: 767px) {
  .navigation__list {
    display: none;
    margin-left: 88px;
  }
}

.navigation__item:not(:last-child) {
  margin-right: 50px;
}

.navigation__link--current {
  color: var(--accent-color);
}

.navigation__item {
  position: relative;
}

.contact {
  display: flex;
  margin-left: auto;
}

@media screen and (max-width: 1199px) {
  .contact {
    flex-wrap: wrap;
    margin-left: auto;
  }
}

@media screen and (max-width: 767px) {
  .contact {
    display: none;
  }
}

.contact__link {
  color: var(--primary-text-color);
  font-weight: 500;
  letter-spacing: 0.02em;
  font-style: normal;
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact__link:hover, .contact__link:focus {
  color: var(--accent-color);
}

.contact__link:hover .contact__icon,
.contact__link:focus .contact__icon {
  fill: var(--accent-color);
}

@media screen and (max-width: 1199px) {
  .contact__link {
    font-size: 12px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

.contact__icon {
  fill: var(--primary-text-color);
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 1199px) {
  .contact__item {
    margin-left: auto;
    margin-right: 15px;
  }
}

.contact__item:not(:last-child) {
  margin-right: 30px;
}

@media screen and (max-width: 1199px) {
  .contact__item:not(:last-child) {
    padding-bottom: 10px;
    margin-right: 0px;
    margin-right: 0px;
  }
}

.hero {
  background-color: var(--dark-bg-color);
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.hero__container {
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-bg.jpg);
  background-position: center;
  height: 600px;
  max-width: 1600px;
}

@media screen and (max-width: 1199px) {
  .hero__container {
    padding-top: 118px;
    padding-bottom: 118px;
    height: 400px;
    max-width: 767px;
  }
}

.hero__title {
  color: var(--primary-bg-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
}

@media screen and (max-width: 1199px) {
  .hero__title {
    font-size: 26px;
    line-height: 1.62;
  }
}

.advantages {
  padding-top: 94px;
  padding-bottom: 94px;
}

@media screen and (max-width: 1199px) {
  .advantages {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.advantages__title {
  color: var(--title-text-color);
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.advantages__title::before {
  content: '';
  display: block;
  width: 100%;
  height: 120px;
  background: var(--section-bg-color);
  border-radius: 4px;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-position: center;
}

.icon__antenna ::before {
  background-image: url("../images/svg/antenna.svg");
}

.icon__clock ::before {
  background-image: url("../images/svg/clock.svg");
}

.icon__diagram ::before {
  background-image: url("../images/svg/diagram.svg");
}

.icon__astronaut ::before {
  background-image: url("../images/svg/astronaut.svg");
}

.advantages__text {
  line-height: 1.71;
}

.advantages .grid__item {
  --grid__item: 1;
  max-width: 450px;
}

@media screen and (min-width: 768px) {
  .advantages .grid__item {
    --grid__item: 2;
    max-width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .advantages .grid__item {
    --grid__item: 4;
    max-width: 270px;
  }
}

.work {
  padding-bottom: 94px;
}

@media screen and (max-width: 1199px) {
  .work {
    display: none;
  }
}

.work__relative {
  position: relative;
}

.work__relative::before {
  position: absolute;
  left: 0px;
  bottom: 0px;
  content: '';
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.work__title {
  position: absolute;
  left: 50%;
  bottom: 27px;
  transform: translateX(-50%);
  white-space: nowrap;
  color: var(--primary-bg-color);
  font-weight: 700;
  text-transform: uppercase;
}

.work__list .grid__item {
  --grid__item: 3;
}

.team {
  background-color: var(--section-bg-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

@media screen and (max-width: 1199px) {
  .team {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.member__position {
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 16px;
}

.team .grid__item {
  --grid__item: 1;
  max-width: 450px;
}

@media screen and (min-width: 768px) {
  .team .grid__item {
    --grid__item: 2;
    max-width: 358px;
  }
}

@media screen and (min-width: 1200px) {
  .team .grid__item {
    --grid__item: 4;
    max-width: 270px;
  }
}

.team .grid__item img {
  width: 100%;
}

.member_image {
  background-size: contain;
}

.member__data {
  padding: 30px 32px;
  border: 1px solid var(--section-bg-color);
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (max-width: 1199px) {
  .member__data {
    padding-bottom: 24px;
  }
}

.member__name {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 10px;
  text-align: center;
}

.member__position {
  text-align: center;
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients__list .grid__item {
  --grd-item: 6;
}

.clients__item {
  width: 170px;
  height: 90px;
}

.clients__link {
  display: inline-flex;
  width: 100%;
  height: 100%;
  border: 1px solid var(--color-icons);
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover .clients__icon,
.clients__link:focus .clients__icon {
  fill: var(--accent-color);
}

.clients__link:hover, .clients__link:focus {
  border: 1px solid var(--accent-color);
}

.clients__icon {
  fill: var(--color-icons);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer {
  background-color: var(--dark-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__block {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.footer__title {
  color: var(--primary-bg-color);
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.address {
  margin-top: 20px;
}

.adress__link {
  color: var(--contact-footer-text-color);
  line-height: 1.71;
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adress__link:hover, .adress__link:focus {
  color: var(--accent-color);
}

.address__street {
  color: var(--primary-bg-color);
  line-height: 1.71;
  font-style: normal;
}

.address__street {
  margin-bottom: 9px;
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.button--append::after {
  content: '';
  width: 24px;
  height: 24px;
  background-image: url(../images/svg/iconsend.svg);
  margin-left: 10px;
}

.input-email {
  width: 358px;
  height: 50px;
  background-color: var(--dark-bg-color);
  margin-right: 12px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.filters {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filters__button {
  display: inline-block;
  border: 0;
  color: var(--title-text-color);
  background-color: var(--section-bg-color);
  font-weight: 500;
  line-height: 1.63;
  min-width: 0;
  min-height: 0;
  padding: 6px 22px;
  box-shadow: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filters__button:hover, .filters__button:focus {
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

.website:hover, .website:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.website__name {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.website__type {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.88;
}

.website__content {
  padding-top: 20px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 20px;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  position: relative;
  display: block;
  box-shadow: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio .grid__item {
  --grid__item: 3;
}

.website__inform {
  position: absolute;
  top: 100%;
  left: 0px;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 18px;
  line-height: 1.56;
  color: var(--primary-bg-color);
  padding-left: 24px;
  padding-right: 24px;
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.website__link:hover .website__inform,
.website__link:focus .website__inform {
  transform: translateY(-100%);
}

.website__image {
  position: relative;
  overflow: hidden;
}

.contact {
  display: flex;
  margin-left: auto;
}

@media screen and (max-width: 1199px) {
  .contact {
    flex-wrap: wrap;
    margin-left: auto;
  }
}

@media screen and (max-width: 767px) {
  .contact {
    display: none;
  }
}

.contact__link {
  color: var(--primary-text-color);
  font-weight: 500;
  letter-spacing: 0.02em;
  font-style: normal;
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact__link:hover, .contact__link:focus {
  color: var(--accent-color);
}

.contact__link:hover .contact__icon,
.contact__link:focus .contact__icon {
  fill: var(--accent-color);
}

@media screen and (max-width: 1199px) {
  .contact__link {
    font-size: 12px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

.contact__icon {
  fill: var(--primary-text-color);
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 1199px) {
  .contact__item {
    margin-left: auto;
    margin-right: 15px;
  }
}

.contact__item:not(:last-child) {
  margin-right: 30px;
}

@media screen and (max-width: 1199px) {
  .contact__item:not(:last-child) {
    padding-bottom: 10px;
    margin-right: 0px;
    margin-right: 0px;
  }
}

@media screen and (min-width: 768px) {
  .menu__button {
    display: none;
  }
}
/*# sourceMappingURL=styles.css.map */