:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196f3;
    --contact-footer-text-color: rgba(255, 255, 255, 0.6);
    --dark-bg-color: #2f303a;
    --primary-bg-color: #ffffff;
    --section-bg-color: #f5f4fa;
    --color-icons: #afb1b8;
    --grid__item: 4;
  }