.header {
    border-bottom: 1px solid #ececec;
    padding-top: 16.5px;
    padding-bottom: 16.5px;

    @media screen and (max-width: 1199px) {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }
  
  .header__page {
    background-color: var(--primary-bg-color);
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }