.navigation {
    display: flex;
    align-items: center;
  }
  
  .navigation__link {
    color: var(--title-text-color);
    font-weight: 500;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }

    &--current::after {
      position: absolute;
      left: 0px;
      top: 45px;
      content: '';
      display: inline-flex;
      width: 100%;
      background-color: var(--accent-color);
      border-radius: 2px;
      height: 4px;
    }
  }
  
  .navigation__list {
    display: flex;
    margin-left: 93px;
    
    @media screen and (max-width: 767px) {
      display: none;
      margin-left: 88px;
    }
  }
  
  .navigation__item:not(:last-child) {
    margin-right: 50px;
  }
  

  
  .navigation__link--current {
    color: var(--accent-color);
  }
  
  .navigation__item {
    position: relative;
  }