.portfolio {
    padding-top: 94px;
    padding-bottom: 94px;

    @media screen and (max-width: 1199px) {
      padding-top: 60px;
      padding-bottom: 60px;
    }
  }
  
.filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;

    @media screen and (max-width: 1199px) {
      margin-bottom: 30px;
    }
  }
  
  .filters__button {
    display: inline-block;
    border: 0;
    color: var(--title-text-color);
    background-color: var(--section-bg-color);
    font-weight: 500;
    line-height: 1.63;
    min-width: 0;
    min-height: 0;
    padding: 6px 22px;
    box-shadow: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover,
    &:focus {
      color: var(--primary-bg-color);
      background-color: var(--accent-color);
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
  }
  
 
  .filter__item:not(:last-child) {
    margin-right: 8px;
  }